<div class="wrapper">
  <div class="container">
    <div class="game-container">
      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="items">
        <div
          class="item"
          [ngStyle]="getStyles(item)"
          *ngFor="let item of gameService.items"
        >
          <div class="item-title">{{ item.value }}</div>
        </div>
      </div>
    </div>
    <div *ngIf="gameService.theEnd" class="overlay">
      <div class="overlay-text">The End</div>
    </div>
  </div>
  <div class="controls">
    <h1>Scores: {{ gameService.scores }}</h1>
    <button class="btn" (click)="gameService.startNewGame()">
      Start new game
    </button>
  </div>
</div>
